@{    
    ViewBag.Title = "Address Details";
    if (TempData["MobileDetail"] != null)
    {
        var Mobiledata = TempData["MobileDetail"];
    }
}
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    SignUp Details
                </div>
                <div class="panel-body">
                    <form name="myform">

                        <div class="form-group">
                            <div class="form-group">
                                <label for="phone">User Id (Mobile Number)</label>
                                <input type="text" disabled="disabled" id="phone" name="phone" value="" class="form-control">
                                @*<span id="error_phone" class="text-danger"></span>*@
                            </div>

                            <label for="firstName">First Name *</label>
                            <input id="firstName" name="firstName" class="form-control" type="text"  data-validation="required">
                            <span id="error_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name *</label>
                            <input id="lastname" name="lastname" class="form-control" type="text" data-validation="email">
                            <span id="error_lastname" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" name="email" class="form-control" type="text" data-validation="email">
                            <span id="error_email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="disc">Password *</label>
                            <input id="password" type="password" maxlength="10" name="password" class="form-control" data-validation="required" />
                            <span id="error_password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="disc">Confirm Password *</label>
                            <input id="confirmpassword" type="password" maxlength="10" name="confirmpassword" class="form-control" data-validation="required" />
                            <span id="error_confirmpassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div id="dataDiv">

                            </div>
                        </div>
                        <button id="submit" type="button" value="submit" class="btn btn-primary center">Submit</button>
                        <button id="cancel" value="Review Order" class="btn btn-primary center">Cancel</button>
                        <div class="form-group"></div>
                    </form>
                    @*}*@

                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function validateEmail(sEmail) {
        var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (filter.test(sEmail)) {
            console.log(filter.test(sEmail));
            return true;
        }
        else {
            console.log(filter.test(sEmail));
            return false;
        }
    }
    $(function () {
    //validate eail


        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
        $(document).ready(function () {
            var mobiledata = '@ViewData["MobileDetail"]';
            console.log(mobiledata);
            $("#phone").val(mobiledata);
        });

        $flag = 1;
        $("#firstName").focusout(function () {
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("Please enter your first name");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_name").text("");

            }
        });
        $("#lastname").focusout(function () {
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("Please enter your Last name");
            }
            else {
                $(this).css("border-color", "#2eb82e");
                $('#submit').attr('disabled', false);
                $("#error_lastname").text("");
            }
        });
        $("#email").focusout(function () {
            if ($(this).val().length > 0) {
                console.log($(this).val());
                if (validateEmail($(this).val())==false)
                {
                    $(this).css("border-color", "#FF0000");
                    $('#submit').attr('disabled', true);
                    $("#error_email").text("Your emealid is not valid");
                }
            else {
                    $(this).css("border-color", "#2eb82e");
                    $('#submit').attr('disabled', false);
                    $("#error_email").text("");
              }

            }
            else {
                
            }
        });


        $("#password").focusout(function () {
            $Password = $("#password").val();
            $ConfirmPassword = $("#ConfirmPassword").val();
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_password").text("Please enter your password");
            }
            else if ($Password.length != 10) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_password").text("Please enter password of 10 character");
            }
            else {
                $(this).css({ "border-color": "#2eb82e" });
                $('#submit').attr('disabled', false);
                $("#error_password").text("");
            }
        });
        $("#confirmpassword").focusout(function () {
            $Password = $("#password").val();
            $ConfirmPassword = $("#confirmpassword").val();
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_confirmpassword").text("Please re-enter your password");
            }
            else if ($ConfirmPassword.length != 10) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_confirmpassword").text("Please enter password of 10 character");
            }
            else if ($ConfirmPassword != $Password) {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_confirmpassword").text("password should match");
            }
            else {
                $(this).css({ "border-color": "#2eb82e" });
                $('#submit').attr('disabled', false);
                $("#error_confirmpassword").text("");
            }

        });
        $("#submit").click(function () {
            if ($("#firstName").val() == '') {
                $("#firstName").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_name").text("* You have to enter your first name!");
            }
            if ($("#lastname").val() == '') {
                $("#lastname").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_lastname").text("* You have to enter your Last name!");
            }

            if ($("#password").val() == '') {
                $("#password").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_password").text("Please enter your password");
            }
            if ($("#confirmpassword").val() == '') {
                $("#confirmpassword").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_confirmpassword").text("Please re-enter your password");
            }

            else {

                var registration = {
                    UserName: $("#phone").val(),
                    Email: $("#email").val(),
                    Password: $("#password").val(),
                    ConfirmPassword: $("#confirmpassword").val()
                };
                var customerdetail = {
                    UserId: $("#phone").val(),
                    FirstName: $("#firstName").val(),
                    LastName: $("#lastname").val(),
                    Address: ''
                };
                $("#exampleModalLong").hide();
                $.ajax({
                    type: "POST",
                    url: "/Accounts/Register",
                    contentType: "application/json; charset=utf-8",
                    data: "{registration:" + JSON.stringify(registration) + ",customerdetail:" + JSON.stringify(customerdetail) + "}",//'{"UserName":"' + 9618023993 + '","Email":"' + $("#email").val() + '","Password":"' + $("#password").val() + '","ConfirmPassword":"' + $("#confirmpassword").val() + '"}',
                    //dataType: "html",
                    success: function (result) {
                        console.log("Ajax Success--123");
                        console.log(result);
                        $('#partial').html(result);
                        $("#exampleModalLong").show();
                    },
                    error: function (xhr, status, error) {
                        //$("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                        console.log("Ajax Error");
                    },
                    fail: function () {
                        console.log("Ajax Fail");
                    }
                });
            }
        });
    });
</script>

