@model MvcAffableBean.Models.CustomerOrder
@{
    ViewBag.Title = "Mobile Registration";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mobile Number</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Enter Delivery Address
                </div>
                <div class="panel-body">
                    <form name="myform">
                        <div class="form-group">
                            <label for="disc">Address</label>
                            <textarea class="form-control" id="address" rows="3"></textarea>
                            <span id="error_address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="disc">Any Delivery Instructions</label>
                            <textarea class="form-control" id="cookinginstruction" rows="3"></textarea>
                        </div>

                        <button id="submit" type="button" value="submit" class="btn btn-success">Next</button>
                        <button id="cancel" value="Review Order" class="btn btn-primary center">Close</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log('delivery');
            var address='@ViewData["address"]';
            console.log(address);
            $("#address").val(address);
        });
        $flag = 1;
        $("#address").focusout(function () {
            $pho = $("#address").val();
            if ($(this).val() == '') {
                $(this).css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_address").text("Please enter your Delivery Address");
            }
            else{
            $(this).css({ "border-color": "#2eb82e" });
            $('#submit').attr('disabled', false);
            $("#error_address").text("");
            }
        });

        $("#submit").click(function () {
            if ($("#address").val() == '') {
                $("#address").css("border-color", "#FF0000");
                $('#submit').attr('disabled', true);
                $("#error_address").text("Please enter your Delivery Address");
            }
            else {
                $("#exampleModalLong").hide();
                var TotalOrderValue='@(Convert.ToDecimal(Session["CartTotal"]))';
                var deliverydetail = {
                    Address: $("#address").val(),
                    CookingInstruction: $("#cookinginstruction").val(),
                    UserId: @Html.Raw(Json.Encode(Session["UserName"])),
                    CreatedBy:@Html.Raw(Json.Encode(Session["UserName"])),
                    CreatedDate: new Date(),
                    Amount:TotalOrderValue                    
                };
                console.log(deliverydetail);
                $.ajax({
                    type: "POST",
                    url: "/Checkout/PlaceOrder",
                    contentType: "application/json; charset=utf-8",
                    data: "{deliverydetail:" + JSON.stringify(deliverydetail) +"}",//'{"UserName":"' + 9618023993 + '","Email":"' + $("#email").val() + '","Password":"' + $("#password").val() + '","ConfirmPassword":"' + $("#confirmpassword").val() + '"}',
                    //dataType: "html",
                    success: function (result) {
                        console.log("Ajax Success--123");
                        console.log(result);
                        $('#partial').html(result);
                        $("#exampleModalLong").show();
                    },
                    error: function (xhr, status, error) {
                        //$("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                        console.log("Ajax Error");
                    },
                    fail: function () {
                        console.log("Ajax Fail");
                    }
                });                
            }
        });
    </script>
</body>
</html>

