@model MvcAffableBean.Models.Category

@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .thumbnail:hover{border-color:#ff6a00; box-shadow:0 0 0 1px #ff6a00}
</style>

<br/>
<br/>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "Dairy" || Model.Name == "") { 
                <li class="active">
                    <a href="~/StoreFront/Index/1">DAIRY</a>
                </li>
            }
            else
            {
                <li>
                     <a href="~/StoreFront/Index/1">DAIRY</a>
                </li>
            }
            @if (Model.Name == "Sweets & Cakes")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/2">SWEETS & CAKES</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/2">SWEETS & CAKES</a>
                </li>
            }
            @if (Model.Name == "Namkeen")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/3">NAMKEENS</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/3">NAMKEENS</a>
                </li>
            }
            @if (Model.Name == "Bevereges & Cold Drinks")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/4">BEVERAGES &amp; COLD DRINKS</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/StoreFront/Index/4">BEVERAGES &amp; COLD DRINKS</a>
                </li>
            }
            
        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/Products/@(product.Name).png">
                        <div class="caption text-center">
                            <p>
                                <span>@product.Name</span>
                            </p>
                            <p>
                                <span>@product.Price Rs   @Html.ActionLink("Add", "AddToCart", "ShoppingCart", new { id = product.Id}, new { @class = "btn btn-info" })</span>
                            </p>
                            <p class="text-center">
                                @*@Html.ActionLink("Add", "AddToCart", "ShoppingCart", new { id = product.Id }, new {@class="btn btn-info"})*@
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
