@charset "utf-8"; 
/*
Project:Karachi bakery
Code by:Nishanth
Last modified:11-06-15
Color Swatches
FF2B79 - LightPink
EC286F - Pink
CC2361 - Dark
*/
@font-face{    font-family:'oswaldlight';     src:url('../fonts/oswald-light-webfont.eot');     src:url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/oswald-light-webfont.woff2') format('woff2'),         url('../fonts/oswald-light-webfont.woff') format('woff'),         url('../fonts/oswald-light-webfont.ttf') format('truetype'),         url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');     font-weight:normal;     font-style:normal}

@font-face{    font-family:'oswaldbook';     src:url('../fonts/oswald-regular-webfont.eot');     src:url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),         url('../fonts/oswald-regular-webfont.woff') format('woff'),         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),         url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');     font-weight:normal;     font-style:normal}

@font-face{    font-family:'lobster_1.3regular';     src:url('../fonts/lobster_1.3-webfont.eot');     src:url('../fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),         url('../fonts/lobster_1.3-webfont.woff') format('woff'),         url('../fonts/lobster_1.3-webfont.ttf') format('truetype'),         url('../fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');  font-weight:normal;  font-style:normal}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{height:100%; background:#141414; text-align:justify; color:#ccc}
.overlay{position:fixed; background:rgba(0,0,0,0.75); width:100%; height:100%; display:none; z-index:999999; -webkit-transition:all 225ms ease; -moz-transition:all 225ms ease; transition:all 225ms ease; cursor:pointer}
.offCanvasMenu{overflow:hidden}
.offCanvasMenu .overlay{display:block}
.container{position:relative}
#wrap{min-height:100%; height:auto !important; height:100%; margin:0 auto}
.lt-ie8 #wrap{display:table; height:100%}
.enqBlock{padding:10px 0; text-align:center; font-family:'oswaldlight',Arial,Helvetica,sans-serif; font-size:28px; width:100%; background:#EC286F; color:#fff}
#map-canvas{width:100%; margin:0; padding:0; height:250px; color:#444}
#map-canvas strong{color:#000}
#map-canvas a{color:#4585F2}
.copyright{text-align:center; padding:10px 0; border-top:1px solid #333; font-size:12px; color:#999}
.copyright a{color:#999}

.msgContainer{background:#242424 url("../images/noise.png") repeat scroll 0 0; border:1px solid #444; border-radius:5px; margin:80px 0;     padding:20px;     position:relative; font-family:'oswaldlight',Arial,Helvetica,sans-serif}
/*=====back-to-top=====*/
.toTop{display:none; text-decoration:none; position:fixed; z-index:997; bottom:10px; right:10px; overflow:hidden; width:50px; height:50px; border:none; text-indent:-9999px; background:url("../images/ui-totop.png") no-repeat left top}
.toTop:active, .toTop:focus{outline:none}
.toTop:hover{background:url("../images/ui-totop.png") no-repeat left -50px}

.text-pink{color:#FF2B79}
 a.text-pink:hover{color:#EC286F}
.text-white{color:#fff}
a.text-white:hover{color:#999}
.text-inline{ display:inline!important; font-weight:normal;}

hr{-moz-border-bottom-colors:none;  -moz-border-left-colors:none;  -moz-border-right-colors:none;  -moz-border-top-colors:none;  border-color:#282828 -moz-use-text-color -moz-use-text-color;  border-image:none;  border-right:0 none;  border-style:solid none none;  border-width:1px 0 0;  margin-bottom:20px;  margin-top:20px}
hr.hrStyled{ border:0; height:1px; background-image:linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0))}

 /*=====custom-button-styles=====*/
.btn-site{ color:#fff;  background-color:#EC286F;  border-color:#CC2361}
.btn-site:hover,.btn-site:focus,.btn-site:active,.btn-site.active, 
.open .dropdown-toggle.btn-site{ color:#FFF;  background-color:#FF2B79;  border-color:#CC2361}
.btn-site:active,.btn-site.active, .open .dropdown-toggle.btn-site{ background-image:none}
.btn-site.disabled, 
.btn-site[disabled], 
fieldset[disabled] .btn-site, 
.btn-site.disabled:hover, 
.btn-site[disabled]:hover, 
fieldset[disabled] .btn-site:hover, 
.btn-site.disabled:focus, 
.btn-site[disabled]:focus, 
fieldset[disabled] .btn-site:focus, 
.btn-site.disabled:active, 
.btn-site[disabled]:active, 
fieldset[disabled] .btn-site:active, 
.btn-site.disabled.active, 
.btn-site[disabled].active, 
fieldset[disabled] .btn-site.active{ background-color:#FF2B79;  border-color:#CC2361}
.btn-site .badge{ color:#fff;  background-color:#CC2361}

 
/*------------------------------------*/
/*-------------Page Layout------------*/
/*------------------------------------*/
#header{position:relative; z-index:996; background:#fcf4e6}
#header .toggle-panel{ position:absolute;  top:0px;  right:0px;  font-size:20px;  width:54px;  height:54px;  line-height:54px;  text-align:center;  display:none; text-decoration:none; color:#b79760; background:#eadcc4}
#header .toggle-panel span{margin-left:3px}
#header .toggle-panel:hover, #header .toggle-panel:focus{background:#d9ccb6}

#header .navbar-default{background:none; border:none; margin:0}
.w100{width:100%}
.browsehappy{margin:0.2em 0; background:#ccc; color:#000; padding:0.2em 0}
.logo{display:block; padding:15px 0; position:relative}

/*========shareicons======*/
#shareicons{margin:15px 0 25px 0; text-align:right}
#shareicons li{padding:0 2px}
#shareicons li a{display:block; height:40px; width:40px; text-align:center; line-height:40px; color:#fff; border-radius:50%; text-decoration:none; font-size:20px; transition:all 0.2s ease-in; background:#EC286F}
#shareicons li a:hover{background:#FF2B79}
#shareicons li a i{line-height:inherit}
/*========headerBtn======*/
.headerBtn{font-family:'oswaldbook',Arial,Helvetica,sans-serif; text-transform:uppercase; text-align:center; margin-bottom:25px}
.headerBtn .btn-outline{border-color:#333; color:#333}
/*========topLinks======*/
#topLinks{text-align:right; display:block; margin:0 0 15px 0; text-transform:uppercase; font-family:'oswaldbook',Arial,Helvetica,sans-serif}
#topLinks li a{color:#333}
#topLinks .icon-home{font-size:16px}
#topLinks li a:hover{color:#EC286F}

/*======1-level or 2-level or 3-level navigation=======*/
#navWrapper{float:left; width:100%; background:#535252; background:-moz-linear-gradient(top,#535252 0%,#010101 100%); background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#535252),color-stop(100%,#010101)); background:-webkit-linear-gradient(top,#535252 0%,#010101 100%); background:-o-linear-gradient(top,#535252 0%,#010101 100%); background:-ms-linear-gradient(top,#535252 0%,#010101 100%); background:linear-gradient(to bottom,#535252 0%,#010101 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#535252',endColorstr='#010101',GradientType=0 )}
#navWrapper .navbar-collapse{padding:0}
#navWrapper .navbar-nav li>a{font:14px 'oswaldlight',Arial,Helvetica,sans-serif; padding:10px 10px; color:#fff; text-transform:uppercase}
#navWrapper .navbar-nav >li >a:hover, .navbar-default .navbar-nav >li >a:focus,#navWrapper .navbar-nav > .open > a, #navWrapper .navbar-nav > .open > a:hover, #navWrapper .navbar-nav > .open > a:focus { background-color:#000;  color:#fff}
#navWrapper .dropdown-menu{ margin-top:-2px}
#navWrapper .dropdown-menu > li > a{ color:#444; font-size:16px; padding:5px 25px;}
#navWrapper .dropdown-menu > li .none > a{ cursor:pointer !important;}
#navWrapper .dropdown-menu > li .none > a:hover{ cursor:pointer !important;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropDownCaret>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropDownCaret:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu.navRight {
    right: 0;
	left:auto
}
.dropdown-submenu>.dropdown-menu.navRight{ right:100%; left:auto}
/*--------------------------------------*/
/*-------------homepage-----------------*/
/*--------------------------------------*/
.bx-wrapper .bx-viewport{background:none; border:none;  box-shadow:none; left:0; -webkit-transform:translatez(0); -moz-transform:translatez(0); -ms-transform:translatez(0); -o-transform:translatez(0); transform:translatez(0)}
.bx-wrapper{position:relative; margin:0 auto 150px; padding:0; *zoom:1}
.bx-wrapper img{max-width:100%; display:block}
.bx-wrapper .bx-loading{min-height:50px; background:url(../images/bx_loader.gif) center center no-repeat #fff; height:100%; width:100%; position:absolute; top:0; left:0; z-index:2000}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev{left:10px; background:url(../images/controls.png) no-repeat 0 -32px}
.bx-wrapper .bx-next{right:10px; background:url(../images/controls.png) no-repeat -43px -32px}
.bx-wrapper .bx-prev:hover{background-position:0 0}
.bx-wrapper .bx-next:hover{background-position:-43px 0}
.bx-wrapper .bx-controls-direction a{position:absolute; top:50%; margin-top:-16px; outline:0; width:32px; height:32px; text-indent:-9999px; z-index:9999}
.bx-wrapper .bx-controls-direction a.disabled{display:none}

.bannerContainer{background:#0a0a0a; position:relative; width:100%; float:left; margin:10px 0 10px 0; visibility:hidden}
.no-js .bannerContainer{visibility:visible}

#bannerSlides li img{width:100%}
.bannerContainer .bx-wrapper{margin:0 auto; position:relative}
.bnrCaption{ position:absolute; display:block;  width:50%;  font-size:30px;  max-height:90px;  overflow:hidden;  bottom:10%;  left:0;  padding:10px;  text-align:left;  color:#000; font-family:'lobster_1.3regular',Arial,Helvetica,sans-serif; background:rgba(255,255,255,0.8)}
 .bnrCaption span{}
#bannerSlides{margin:0; padding:0}
.bannerContainer .bx-wrapper .bx-pager{position:absolute; right:20px; bottom:5px; z-index:4; text-align:center; font-size:.85em; font-family:Arial; font-weight:bold; color:#666}

.bannerContainer .bx-wrapper .bx-pager .bx-pager-item, 
.bannerContainer .bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block; *zoom:1; *display:inline}

.bannerContainer .bx-wrapper .bx-pager.bx-default-pager a{background:#666; text-indent:-9999px; display:block; width:10px; height:10px; margin:0 5px; outline:0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}

.bannerContainer .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bannerContainer .bx-wrapper .bx-pager.bx-default-pager a.active{background:#000}

.homePage .thumbnail{border-radius:0; transition:all 0.25s ease-in; padding:0; border:1px solid #444; position:relative; width:100%; cursor:pointer}

.homePage .thumbnail:hover{border-color:#EC286F; box-shadow:0 0 0 4px #EC286F}
.ribbonTitle, a.ribbonTitle{ -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.35);  -webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.35);  box-shadow:0px 1px 1px rgba(0,0,0,0.35);  background:#EC286F;  display:inline-block;  vertical-align:middle;  *vertical-align:auto;  *zoom:1;  *display:inline;  height:40px;  line-height:40px;  position:absolute;  margin:0;  padding-right:20px;  left:0;  z-index:6;  padding-left:10px;  top:40%;  color:#fff;  font-family:"oswaldlight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;  text-transform:uppercase;  text-decoration:none;  font-size:20px}
.ribbonTitle:before{ content:'';  display:block;  height:0;  width:0;  border-style:solid;  border-width:20px;  border-color:#EC286F;  border-right-color:transparent;  position:absolute;  right:-20px;  top:0}

.tmb1{height:390px}
.tmb2{height:345px}
.tmb3{height:163px}
.homeContact{position:relative; background:#EC286F; text-align:center; padding:10px; color:#fff; font-weight:bold; height:345px; z-index:1; line-height:24px}
.homeContact:before{content:""; width:94%; height:94%; border:1px solid #fff; position:absolute; left:3%; top:3%; z-index:-1}
.welcome{background:#303030; padding:15px;}
.welcome p{font-style:italic}
.welcome .title{margin-top:0}

/*======innerpagestyles=======*/
.page{padding-bottom:15px; min-height:500px}
.title{font-family:'oswaldbook',Arial,Helvetica,sans-serif; color:#fff}
.subtitle{font-family:'oswaldbook',Arial,Helvetica,sans-serif;  border-bottom:1px solid #555; padding-bottom:5px; color:#FCF4E6}
.subtitle small{font-family:'lobster_1.3regular',Arial,Helvetica,sans-serif!important; font-weight:normal; text-transform:none!important}
.well .subtitle{margin-top:0}
.well img{margin-bottom:10px}
.titleStyled{margin:0 0 15px 0; position:relative; font-family:'oswaldbook',Arial,sans-serif; text-transform:uppercase; text-align:center; position:relative; display:block; z-index:1; font-weight:normal; padding:10px 0; color:#C79357; border-bottom:1px solid #333; border-top:1px solid #333; box-shadow:0 5px 5px -5px #000}
.titleStyled:before{ background:url(../images/decoline.png) 0 0 no-repeat; bottom:-9px; content:""; height:18px; left:50%; margin-left:-8.5px; position:absolute; width:17px}

.siteMapList{text-align:left; font-family:'oswaldlight',Arial,sans-serif; font-size:16px; line-height:1.5}
.siteMapList a{color:#999}
.siteMapTitle{color:#fff}
.siteMapList a:hover{color:#EC286F}

.snackList{text-align:left; font-family:'oswaldlight',Arial,sans-serif; font-size:16px; line-height:1.5; margin:10px 0;}
.snackList a{color:#999}
.snackListTitle{color:#EC286F}
.snackList a:hover{color:#EC286F}



.page-header{margin:0 0 15px 0;  padding:60px 0; position:relative; border:none; background:#FCF4E6  url(../images/page-header.jpg) 50% 50% no-repeat; background-size:cover!important; -ms-behavior:url(backgroundsize.min.htc); behavior:url(backgroundsize.min.htc)}
.page-header.chocolate-header{background:#FCF4E6  url(../images/chocolate-header.jpg) 50% 50% no-repeat;}
.page-header.order-header{background:#FCF4E6  url(../images/page-header-orderonline.jpg) 50% 50% no-repeat;}
.page-header.biscuits-header{background:#FCF4E6  url(../images/biscuits-header.jpg) 50% 50% no-repeat;}
.page-header.gifts-header{background:#FCF4E6  url(../images/gifts-header.jpg) 50% 50% no-repeat;}
.page-header.cakes-header{background:#FCF4E6  url(../images/cakes-header.jpg) 50% 50% no-repeat;}
.page-header.pastries-header{background:#FCF4E6  url(../images/pastries-header.jpg) 50% 50% no-repeat;}
.page-header.mithai-header{background:#FCF4E6  url(../images/karachi-mithai-header.jpg) 50% 50% no-repeat;}
.page-header.macaron-header{background:#FCF4E6  url(../images/macaron-header.jpg) 50% 50% no-repeat;}
.page-header.bread-header{background:#FCF4E6  url(../images/bread-header.jpg) 50% 50% no-repeat;}
.page-header.rusk-header{background:#FCF4E6  url(../images/rusk-header.jpg) 50% 50% no-repeat;}
.page-header.cupcakes-header{background:#FCF4E6  url(../images/cupcakes-header.jpg) 50% 50% no-repeat;}
.page-header.christmas-header {
    background: #FCF4E6 url(../images/christmas-header.jpg) 50% 50% no-repeat;
}
.page-header.new-arri-header{background:#FCF4E6  url(../images/new-arrivals-innerbanner.jpg) 50% 50% no-repeat;}
.pageTitle{font-weight:normal; font-family:'oswaldlight',Arial,Helvetica,sans-serif; text-transform:uppercase;  margin:0; color:#fff; position:relative; font-size:45px; text-align:center; padding-bottom:5px}
.pageTitle:after{content:""; position:absolute; height:3px; width:110px; left:50%; margin-left:-55px; bottom:0; background:#fff}

.breadcrumb{margin:0; padding-left:0;  background:none; font-size:12px; font-weight:bold; text-align:center}
.breadcrumb a{color:#fff}
.breadcrumb li.active{color:#fff}
.well{background:#242424; border-color:#333}
.well blockquote{margin:0; border-color:#EC286F}
blockquote{border-color:#444}
blockquote p{ margin-bottom:0; font-family:Georgia,"Times New Roman",Times,serif; font-style:italic}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
 background:#EC286F; border-color:#EC286F;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination >li> a,.pagination >li> a:hover{ color:#444}


.table thead, .table thead th{background:#242424; font-family:'oswaldbook',Arial,Helvetica,sans-serif; font-weight:normal; text-transform:uppercase; color:#fff}
.table p{margin-bottom:5px}
.table h4{margin:5px 0}
.table .checkbox{margin:0}
.position-drop{ margin-top:-1px}
.open > .dropdown-menu {
    display: block;
	margin-top:-1px
}
/*====productThumbnails====*/
.product{display:block; height:auto; text-align:center; transition:all 0.3s ease 0s;}
/*.product:hover{box-shadow:0 3px 12px 0 rgba(0,0,0,0.7)}
*/
.prodImg{display:block; overflow:hidden; position:relative; text-align:center; transition:all 0.5s ease 0s; width:100%; border:4px solid #444}
.prodImg{height:163px}
.prodImg a{display:block; width:100%; height:100%; position:relative}
.prodImg a img{position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; max-height:100%; transition:all 0.5s ease 0s}
.product:hover .prodImg{border-color:#EC286F}
.product:hover .prodImg a img {transform: scale(1.3) rotate(-1.5deg);}
.product .description{margin:0; min-height:30px; padding-top:5px}
.item h4{display:block; line-height:20px; margin:0; max-height:45px; min-height:45px; overflow:hidden; padding:0; font-size:15px; color:#C79357}
.item h4 a{color:#C79357; text-decoration:none; text-transform:capitalize}
.product:hover h4 a{color:#C79357}

.description p{font-size:14px; line-height:18px; max-height:90px; min-height:55px; overflow:hidden}

#productList .item{display:block;height:230px;position:relative;}
#productList .item .title{max-height:45px;min-height:15px;margin:0 0 5px 0;line-height:18px; display:block; overflow:hidden; font-size:16px;font-family:"oswaldlight",Arial,Helvetica,sans-serif;} 
#productList .description{ min-height:20px; max-height:85px; overflow:hidden;}
#productList .description p{max-height:none;min-height:20px;overflow:hidden;margin:0 }

span.zoom{  cursor:pointer; position:absolute; left:0; top:0; float:left; width:100%; height:100%; display:none;background:url(../images/zoom.png) center center no-repeat}

#gallList .thumbnail{border-radius:0; height:165px; position:relative; border-color:#444}
#gallList .thumbnail img{bottom:0; left:0; margin:auto; max-height:100% !important; position:absolute; right:0; top:0}
#gallList .thumbnail:hover{text-decoration:none; border-color:#fff}
.desc{background:rgba(0,0,0,0.7); bottom:0; color:#fff; display:block; font-family:"oswaldlight",Arial,Helvetica,sans-serif; left:0; line-height:15px; max-height:40px; overflow:hidden; padding:5px 0; position:absolute; text-align:center; text-decoration:none; text-transform:capitalize; width:100%}



 
 
/*========form styles==========*/
.placeholder{color:#444}
::-webkit-input-placeholder{color:#444}
::-moz-placeholder{color:#444}

/*======feedback form======*/
.captcha{height:30px; padding:2px; list-style:none; margin:5px 0; display:block; float:left; width:100%}
.captcha li{float:left; margin:0 20px 0 0}
.capimg{position:relative}
a.refresh{width:30px; height:30px; position:absolute; right:-15px; top:15%; z-index:50; top:0}
.captcha input{width:70px}

.small-input{ width:30px !important; padding:6px 0!important; text-align:center}
.sitePaging{ float:right}
.sitePaging .input-group-addon, .sitePaging .input-group-btn{width:auto}

/*=========form errors========*/
.errors{position:absolute; float:left; width:150px; min-height:50px;  right:-40px; top:0}
.errors span{display:block; margin:5px 0}
.innerError{font-size:10px; color:#f00; background:#fbe3e4 url(../images/invalid.png) 0 50% no-repeat; padding:2px 2px 2px 20px; border:1px solid #fbc2c4; min-height:18px}
.innerHelp{font-size:11px; color:#5f8d00; color:#5f8d00; background:#e6efc2; padding:2px 2px 2px 20px; border:1px solid #390; min-height:18px;  background:#fbe3e4 url(../images/valid.png) 0 50% no-repeat}



/* ==========================================================================
   Helper classes
   ========================================================================== */
.btn-outline{ background-color:transparent;  color:inherit;  transition:all .3s}
.sharp{border-radius:0}

.thumbnails{padding-left:0;  list-style:none;  *zoom:1}
.thumbnails:before, 
.thumbnails:after{display:table;  content:"";  line-height:0}
.thumbnails:after{clear:both}
.thumbnails >li{margin-bottom:15px}

.alignleft{margin:0px 20px 20px 0; float:left}
.alignright{margin:0 0 20px 20px; float:right}

.fitImg{width:100%; height:100%; background-size:cover!important; -ms-behavior:url(backgroundsize.min.htc); behavior:url(backgroundsize.min.htc)}

.grayscale{filter:url("data:image/svg+xml; utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); filter:gray; filter:grayscale(100%); -ms-filter:grayscale(1); -webkit-filter:grayscale(1); -webkit-transition:all .5s ease; -webkit-backface-visibility:hidden; -moz-filter:grayscale(100%); -moz-transition:all .5s ease; -moz-backface-visibility:hidden}

.blur{filter:blur(3px); -webkit-filter:blur(3px); -moz-filter:blur(3px);  -o-filter:blur(3px); -ms-filter:blur(3px); filter:url("data:image/svg+xml; utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='3' /></filter></svg>#blur"); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3')}

.highlighted{font-family:'lobster_1.3regular',Arial,Helvetica,sans-serif!important; font-weight:normal; }
.show-grid{margin-bottom:10px; margin-top:10px}
 
.ir{background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px}
.ir:before{content:""; display:block; width:0; height:150%}

.icons-ul{ margin:10px 0 20px 0; padding:0 0 0 5px; list-style:none;}
.icons-ul li{margin-left:0; text-align:left;}


@media only screen and (min-width:768px){
	
	.dropdown:hover> .dropdown-menu {
		display: block; margin-top:-2px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width:1200px){
	.tmb1{height:474px}
	#navWrapper .navbar-nav li>a{font:15px 'oswaldlight',Arial,Helvetica,sans-serif; padding:10px 16px; color:#fff; text-transform:uppercase}
#navWrapper .dropdown-menu > li > a{color:#444;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width:992px){
	.siteMapTitle{display:block; padding:5px 10px; border-bottom:1px solid #555}
.siteMapList a{display:block; padding:5px 10px; text-decoration:none}
.siteMapList a:hover{background:#fff}
.homeContact{height:auto}
.welcome{max-height:200px}
.logo{width:180px}
#topLinks{font-size:11px; margin:30px 0 10px}
#navWrapper .navbar-nav li>a{padding:10px 15px; font-size:18px}
.page{min-height:inherit}


}

/* Small Devices, Tablets */
@media only screen and (max-width:767px){
.welcome{max-height:300px}
.headerBtn{text-align:center}

.headerBtn li{display:block!important; margin:0 0 5px 0}
.headerBtn li .btn{width:100%}
.container .navbar-header{margin:0}
.logo{float:left; height:54px; padding:3px 0;  width:80px; overflow:hidden}
.mobToggle, #navWrapper{display:none}
#header .toggle-panel{display:block}
#shareicons{text-align:center; margin:10px 0; width:100%} #shareicons li{ margin-bottom:10px}
#topLinks{display:none}
#nav{margin:10px 0 0}
#nav >li >a{text-transform:uppercase; font-family:'oswaldbook',Arial,Helvetica,sans-serif; color:#efefef}
#nav >li >a:hover, #nav >li >a:focus{ background-color:#EC286F;  text-decoration:none}
.nav .open >a, .nav .open >a:hover, .nav .open >a:focus{ background-color:#eee;  border-color:#337ab7}
#nav .dropdown-menu{ margin-top:0x; background:#222;}
#nav .dropdown-menu > li > a{ color:#999; font-size:16px; padding:5px 25px;font-family:'oswaldlight',Arial,Helvetica,sans-serif;}





}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width:480px){
	


}

